.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.small {
    font-size: medium;
}

.monospace {
    font-family: "Monaspace";
}